@model IEnumerable<Test.Models.Lezioni>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodCorso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCorso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLezioniNavigation.Lezione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLezioni">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLezioni">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLezioni">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
